<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>615333385160-obppi23lbp9gl9g8apu00d2uc7np5sk3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615333385160-obppi23lbp9gl9g8apu00d2uc7np5sk3</string>
	<key>API_KEY</key>
	<string>AIzaSyAtIRPimq6Fcg-ptdGrrkn7A7-PJR5FBFs</string>
	<key>GCM_SENDER_ID</key>
	<string>615333385160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MovilProject</string>
	<key>PROJECT_ID</key>
	<string>dispositivos-moviles-b2094</string>
	<key>STORAGE_BUCKET</key>
	<string>dispositivos-moviles-b2094.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615333385160:ios:4f521d8a4b26af4551a6fd</string>
	<key>DATABASE_URL</key>
	<string>https://dispositivos-moviles-b2094.firebaseio.com</string>
</dict>
</plist>